/* @tailwind base; */

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.w-full {
  width: 100%;
}

.list-none {
  list-style-type: none;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.text-\[20px\] {
  font-size: 20px;
}

.capitalize {
  text-transform: capitalize;
}

.text-\[black\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: oriflamefont;

  /* src: url(../font/SofiaSansCondensed-Italic-VariableFont_wght.ttf); */

  src: url(../font/SofiaSansCondensed-VariableFont_wght.ttf);
}

body {
  font-family: oriflamefont;
}

input.search {
  border: none;
  background-color: #f5f5f5;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.submenu {
  border-top: 2px solid rgb(196, 195, 195);
  flex-flow: row;
}

div > li.title2:hover > div.catalogue {
  display: flex;
}

.hover\:bg-zinc-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 231 / var(--tw-bg-opacity));
}

.hover\:font-bold:hover {
  font-weight: 700;
}

.hover\:text-\[\#626060\]:hover {
  --tw-text-opacity: 1;
  color: rgb(98 96 96 / var(--tw-text-opacity));
}

@media (min-width: 1536px) {
  .\32xl\:absolute {
    position: absolute;
  }

  .\32xl\:relative {
    position: relative;
  }

  .\32xl\:bottom-\[10px\] {
    bottom: 10px;
  }

  .\32xl\:left-28 {
    left: 7rem;
  }

  .\32xl\:left-\[2px\] {
    left: 2px;
  }

  .\32xl\:right-14 {
    right: 3.5rem;
  }

  .\32xl\:right-\[0px\] {
    right: 0px;
  }

  .\32xl\:top-\[0px\] {
    top: 0px;
  }

  .\32xl\:top-\[60px\] {
    top: 60px;
  }

  .\32xl\:mt-0 {
    margin-top: 0px;
  }

  .\32xl\:block {
    display: block;
  }

  .\32xl\:flex {
    display: flex;
  }

  .\32xl\:hidden {
    display: none;
  }

  .\32xl\:h-\[269px\] {
    height: 269px;
  }

  .\32xl\:h-\[40px\] {
    height: 40px;
  }

  .\32xl\:h-\[439px\] {
    height: 439px;
  }

  .\32xl\:h-\[570px\] {
    height: 570px;
  }

  .\32xl\:h-\[85px\] {
    height: 85px;
  }

  .\32xl\:h-full {
    height: 100%;
  }

  .\32xl\:w-\[1250px\] {
    width: 1250px;
  }

  .\32xl\:w-\[1500px\] {
    width: 1500px;
  }

  .\32xl\:w-\[200px\] {
    width: 200px;
  }

  .\32xl\:w-\[269px\] {
    width: 269px;
  }

  .\32xl\:w-\[310px\] {
    width: 310px;
  }

  .\32xl\:flex-1 {
    flex: 1 1 0%;
  }

  .\32xl\:grow {
    flex-grow: 1;
  }

  .\32xl\:grow-\[1\] {
    flex-grow: 1;
  }

  .\32xl\:grow-\[8\] {
    flex-grow: 8;
  }

  .\32xl\:list-none {
    list-style-type: none;
  }

  .\32xl\:flex-row {
    flex-direction: row;
  }

  .\32xl\:flex-col {
    flex-direction: column;
  }

  .\32xl\:flex-wrap {
    flex-wrap: wrap;
  }

  .\32xl\:items-center {
    align-items: center;
  }

  .\32xl\:justify-center {
    justify-content: center;
  }

  .\32xl\:gap-1 {
    gap: 0.25rem;
  }

  .\32xl\:gap-2 {
    gap: 0.5rem;
  }

  .\32xl\:gap-6 {
    gap: 1.5rem;
  }

  .\32xl\:bg-\[\#ffffff\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .\32xl\:p-2 {
    padding: 0.5rem;
  }

  .\32xl\:pb-3 {
    padding-bottom: 0.75rem;
  }

  .\32xl\:pb-6 {
    padding-bottom: 1.5rem;
  }

  .\32xl\:pb-8 {
    padding-bottom: 2rem;
  }

  .\32xl\:pb-9 {
    padding-bottom: 2.25rem;
  }

  .\32xl\:ps-20 {
    -webkit-padding-start: 5rem;
            padding-inline-start: 5rem;
  }

  .\32xl\:ps-4 {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }

  .\32xl\:ps-5 {
    -webkit-padding-start: 1.25rem;
            padding-inline-start: 1.25rem;
  }

  .\32xl\:ps-\[10px\] {
    -webkit-padding-start: 10px;
            padding-inline-start: 10px;
  }

  .\32xl\:ps-\[35px\] {
    -webkit-padding-start: 35px;
            padding-inline-start: 35px;
  }

  .\32xl\:pt-2 {
    padding-top: 0.5rem;
  }

  .\32xl\:pt-3 {
    padding-top: 0.75rem;
  }

  .\32xl\:text-center {
    text-align: center;
  }

  .\32xl\:text-\[17px\] {
    font-size: 17px;
  }

  .\32xl\:text-\[18px\] {
    font-size: 18px;
  }

  .\32xl\:text-\[19px\] {
    font-size: 19px;
  }

  .\32xl\:font-\[600\] {
    font-weight: 600;
  }

  .\32xl\:font-semibold {
    font-weight: 600;
  }

  .\32xl\:font-bold {
    font-weight: 700;
  }

  .\32xl\:font-\[700\] {
    font-weight: 700;
  }

  .\32xl\:capitalize {
    text-transform: capitalize;
  }

  .\32xl\:text-\[\#3c3b3b\] {
    --tw-text-opacity: 1;
    color: rgb(60 59 59 / var(--tw-text-opacity));
  }

  .\32xl\:text-\[\#827f7f\] {
    --tw-text-opacity: 1;
    color: rgb(130 127 127 / var(--tw-text-opacity));
  }

  .\32xl\:text-\[black\] {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  .\32xl\:text-\[gray\] {
    --tw-text-opacity: 1;
    color: rgb(128 128 128 / var(--tw-text-opacity));
  }

  .\32xl\:text-\[white\] {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .\32xl\:text-\[\#605f5f\] {
    --tw-text-opacity: 1;
    color: rgb(96 95 95 / var(--tw-text-opacity));
  }

  .\32xl\:text-\[\#737272\] {
    --tw-text-opacity: 1;
    color: rgb(115 114 114 / var(--tw-text-opacity));
  }

  .\32xl\:no-underline {
    text-decoration-line: none;
  }

  .\32xl\:shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .\32xl\:transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .\32xl\:hover\:text-\[19px\]:hover {
    font-size: 19px;
  }

  .\32xl\:hover\:text-\[\#a19e9e\]:hover {
    --tw-text-opacity: 1;
    color: rgb(161 158 158 / var(--tw-text-opacity));
  }

  .\32xl\:hover\:text-\[lightgray\]:hover {
    --tw-text-opacity: 1;
    color: rgb(211 211 211 / var(--tw-text-opacity));
  }
}
